body {
  font-family: calibri,arial;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

/*polaroid picture*/

div.polaroid {
  width: 55%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}
div.container-carrotcake {
  padding: 30px 20px;
  text-align: center;
  margin: 0 auto;
}
.header-image {
  background-size: 60%;
  width: 60%;
  height: 80%;
}

/*end of polaroid picture*/

h1 {
  font-size: 150%;
  font-family: calibri;
  font-weight: light;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto;
  padding: 2px;
}
.container-carrotcake p {
  font-size: 90%;
  color: gray;
  display: inline;
}
.bold {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 95%;
}
#overview p {
  font-size: 100%;
  text-align: center;
  padding: 3px;
  margin: auto;
}
#overview {
  background-color: antiquewhite;
  width: 30%;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  padding: 20px;
}
#ingredients-list {
  background-color: blanchedalmond;
  width: 60%;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 120%;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 100%;
  line-height: 1.6;
  color: maroon;
}
/*CHECKMARK CUSTOMIZATION*/

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 55%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: floralwhite;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: lightgoldenrodyellow;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 25%;
  top: 10%;
  width: 30%;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  line-height: 1.6;
}
#preparation-list {
  background-color: bisque;
  width: 60%;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 90%;
}
.steps-batter {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  line-height: 1.6;
}
#nutrition {
  background-color: burlywood;
  width: 60%;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 80%;
}
.nutrition-details {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  line-height: 0.5;
}
footer {
  font-size: 70%;
  color: gray;
  line-height: 1;
}
/* Phone size */
@media screen and (max-width: 768px) {
 body {
  font-family: calibri, Droid Sans;
  margin: 0 auto;
  width: 100%;
  text-align: center;
 }
  div.polaroid {
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  }
  div.container-carrotcake {
  padding: 30px 20px;
  text-align: center;
  margin: 0 auto;
}
  .header-image {
  background-size: 60%;
  width: 60%;
  height: 80%;
} 
  #overview {
  width: 60%;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  padding: 20px;
}
  #ingredients-list {
  width: 90%;
}
  .container {
  font-size: 100%;
  width: 85%;
}
#preparation-list {
  width: 90%;
}
#preparation-list {
  font-size: 100%;
}
}